#sec-07 {
  padding-top: 6.2rem;
  padding-bottom: 2.1rem;
  background-color: #f4f5fb;
}

#sec-07 .row:first-of-type [class*=col-]:first-of-type {
  margin-bottom: 2.1rem;
}

#sec-07 .row:first-of-type {
  margin-bottom: 3.4rem;
}

#sec-07 .row:last-of-type .sec-07__text-card {
  margin-bottom: 2.4rem;
}

.sec-07__picture {
  display: flex;
  justify-content: center;
}

.sec-07__img {
  display: block;
}

.sec-07__text-card {
  text-align: center;
  // &:first-of-type {
  //   margin-bottom: 3.1rem;
  // }
}

.sec-07__text-card-title {
  font-family: FuturaPTD;
  font-size: pxToRem(32px);
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .7rem;
}

.sec-07__text-card-description {
  font-family: FuturaL;
  font-size: pxToRem(18px);
  line-height: 1.35;
  color: #6e6f72;
  &:last-of-type {
    letter-spacing: .1px;
  }
}
// FORM
#sec-07 .row [class*=col-]:first-child {
  margin-bottom: .5rem;
}

.sec-07__form {
  padding: 3.4rem 1.5rem 3.7rem 1.5rem;
  background-color: #fff;
}


.sec-07__form-title {
  font-family: FuturaPTD;
  font-size: pxToRem(20px);
  line-height: 1.2;
  margin-bottom: .8rem;
  text-align: center;
}

.form-title-span {
  color: #26c6da;
}

.form-br {
  display: block;
}

.text-input {
  font-family: FuturaL;
  border: none;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.8rem;
  padding-bottom: .5rem;
  font-size: pxToRem(18px);
  &:first-child {
    margin-bottom: 2.4rem;
  }
  &:nth-of-type(3) {
    margin-bottom: 3rem;
  }
  &:focus {
    outline: none;
    border-bottom: 2px solid #26c6da;
  }
  &::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
}

::-webkit-input-placeholder {
  color: #737373;
}

::-moz-placeholder {
  color: #737373;
}

:-ms-input-placeholder {
  color: #737373;
}

:-moz-placeholder {
  color: #737373;
}

#sec-07 .sec-01__content-btn {
  padding: 1.2rem 2rem;
}


// footer
.sec-07__footer-container {
  margin-top: 6.3rem;
}

#sec-07 .logo-container {
  margin-bottom: .1rem;
}

#sec-07 .menu-contact-block__geolocation {
  margin-bottom: 0;
}


#sec-07 .menu-contact-block__tel {
  margin-bottom: 1.4rem;
}

#sec-07 .menu-btn {
  margin-bottom: 0;
  padding: .6rem 1.9rem;
  letter-spacing: .8px;
}

.sec-07__footer-block {
  font-family: FuturaPTD;
  font-size: pxToRem(16px);
  text-align: center;
  margin-bottom: .4rem;
  padding-left: .3rem;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  #sec-07 {
    padding-top: 8.7rem;
  }

  #sec-07 .row:first-of-type [class*=col-]:first-of-type {
    margin-bottom: 2.2rem;
  }

  .sec-07__text-card-title {
    font-size: pxToRem(40px);
    line-height: 1;
    margin-bottom: .85rem;
  }

  .sec-07__text-card:first-of-type {
    padding: 0 3.8rem;
    margin-bottom: 0;
  }

  #sec-07 .row:first-of-type {
    margin-bottom: 5rem;
  }

  #sec-07 .row:last-of-type .sec-07__text-card{
    padding: 0;
    margin-bottom: 2.4rem;
    .sec-07__text-card-description {
      padding: 0 4.9rem
    }
  }

  #sec-07 .sec-01__content-container{
    padding-left: 10.7rem;
    padding-right: 0;
  }

  #sec-07 .timer-container {
    margin-bottom: 0;
  }

  #sec-07 .row [class*=col-]:first-child {
    margin-bottom: 3.1rem;
  }

  .sec-07__form {
    margin: auto;
    width: 37.4rem;
    padding: 3.4rem 5.5rem 3.7rem;
  }

  .form-br {
    display: inline-block;
  }

  .sec-07__form-title {
    font-size: pxToRem(24px);
    margin-bottom: 2.1rem;
  }

  .text-input:nth-of-type(3) {
    margin-bottom: 3.2rem;
  }

  #sec-07 .sec-01__bottom-btn {
    width: 100%;
  }

  // footer
  .sec-07__footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8.8rem;
    padding: 0 1.1rem;
  }

  .sec-07__footer-block {
    text-align: left;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    &:last-of-type {
      padding: .4rem .5rem 0 0;
    }
  }

  #sec-07 .logo-container {
    margin-bottom: 1.1rem;
  }

  #sec-07 .menu-contact-block__tel {
    order: 1;
    margin-bottom: 0;
    text-align: right;
  }

  #sec-07 .menu-btn {
    margin-bottom: 2.1rem;
  }
}

@media (min-width: 1200px) {
  #sec-07 {
    padding-top: 12.6rem;
    padding-bottom: 1.3rem;
  }

  .sec-07__picture {
    justify-content: flex-start;
    padding-left: .5rem;
  }

  .sec-07__text-card:first-of-type {
    padding: 0 .5rem;
    text-align: left;
  }

  .sec-07__text-container {
    padding-top: 2.2rem;
  }

  .sec-07__lg-br {
    display: block;
  }

  .sec-07__text-card-title {
    padding-right: 6rem;
  }

  .sec-07__text-card-title {
    margin-bottom: 1.25rem;
  }

  .sec-07__text-card-description:last-of-type {
    padding-right: 2rem;
  }

  #sec-07 .row:last-of-type .sec-07__text-card .sec-07__text-card-description {
    padding: 0 .6rem 0 .5rem;
  }

  #sec-07 .sec-01__content-container {
    padding-left: .4rem;
  }

  #sec-07 .row:last-of-type .sec-07__text-card {
    margin-bottom: 3.1rem;
    margin-top: .9rem;
  }

  #sec-07 .row [class*=col-]:first-child {
    margin-bottom: 0;
  }

  #sec-07 .row:first-of-type {
    margin-bottom: 4.1rem;
  }

  // form

  .sec-07__form {
    padding: 3.4rem 4.2rem 3.7rem;
  }

  #sec-07 .form-container {
    padding-left: .5rem;
  }

  .sec-07__form {
    width: 34.6rem;
  }

  .text-input {
    margin-bottom: 1.75rem;
  }
  // footer
  .sec-07__footer-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #sec-07 .logo-container {
    margin-bottom: 0;
  }

  #sec-07 .menu-btn {
    margin-bottom: 0;
  }

  #sec-07 .menu-contact-block__tel {
    order: 0;
    margin-right: 7.9rem;
  }

  .sec-07__footer-container {
    margin-top: 9.7rem;
    padding: 0 5rem 0 5.9rem;
  }

  #sec-07 .menu-contact-block__geolocation {
    margin-left: 9.5rem;
  }
}
