@font-face {
  font-family: FuturaL;
  src: url('fonts/FuturaFuturisLightC.woff') format("woff"),
       url('fonts/FuturaFuturisLightC.woff2') format("woff2");
}

@font-face {
  font-family: FuturaPTD;
  src: url('fonts/FuturaPTDemi.woff') format("woff"),
       url('fonts/FuturaPTDemi.woff2') format("woff2");
}
